
body {
  background-color: #4095BF;
  padding: 20px;
  margin: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  /*background-color: hsl(20, 100%, 50%);*/
  /*background-color: #9F7460;*/
  background-color: #f7efd2;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #ff5500;
}

.btn {
  background-color: #ff5500;
  font-weight: bold;
}
